body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1, h2 {
    color: #1e3059;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: calc(100% - 12px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.results-section {
    margin-top: 20px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #1e3059;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000;
    color: #fff;
}

/* Ensure the iframe fits well in mobile */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    body {
        padding: 10px;
        height: auto;
    }
}
